@namespace Website.BlazorApp.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject NavBarLeftInjectableMenu navBarLeftInjectableMenu
@inject AuthenticationStateProvider AuthenticationStateProvider;

<NavBar>
	<NavBarLeft>
		@if (!navBarLeftInjectableMenu.OverrideParentContent)
		{
			<NavBarMenuItem Link="/">Home</NavBarMenuItem>
		}
		@navBarLeftInjectableMenu.content
	</NavBarLeft>
	<NavBarSearch></NavBarSearch>
	<NavBarRight>
		<NavBarDropDown>
			<NavBarBadge Color="Color.Danger" Icon="far fa-comments">4</NavBarBadge>
			<NavBarDropDownMenu>
				<NavBarDropDownMenuItem>
					<UserMessage DateTime="_dt.AddMinutes(-2)" ProfilePicture="/_content/KSBlazor.Components/dist/img/user7-128x128.jpg" Icon="fas fa-star">
						<UserName>Patricia Maundrell</UserName>
						<Message>Follow up</Message>
					</UserMessage>
				</NavBarDropDownMenuItem>
				<DropdownDivider />
				<NavBarDropDownMenuItem>
					<UserMessage DateTime="_dt.AddHours(-4)" ProfilePicture="/_content/KSBlazor.Components/dist/img/user1-128x128.jpg" Icon="fas fa-star" IconColor="Color.Warning">
						<UserName>Brad Diesel</UserName>
						<Message>Call me whenever you can...</Message>
					</UserMessage>
				</NavBarDropDownMenuItem>
				<DropdownDivider />
				<NavBarDropDownMenuItem>
					<UserMessage DateTime="_dt.AddDays(-8)" ProfilePicture="/_content/KSBlazor.Components/dist/img/user8-128x128.jpg" Icon="fas fa-star" IconColor="Color.Danger">
						<UserName>John Pierce</UserName>
						<Message>I got your message bro</Message>
					</UserMessage>
				</NavBarDropDownMenuItem>
				<DropdownDivider />
				<NavBarDropDownMenuItem>
					<UserMessage DateTime="_dt.AddDays(-31)" ProfilePicture="/_content/KSBlazor.Components/dist/img/user3-128x128.jpg" Icon="fas fa-star">
						<UserName>Nora Silvester</UserName>
						<Message>The subject goes here</Message>
					</UserMessage>
				</NavBarDropDownMenuItem>
				<DropdownDivider />
				<DropdownFooter OnClick="SeeAllMessages">See All Messages</DropdownFooter>
			</NavBarDropDownMenu>
		</NavBarDropDown>
		<NavBarDropDown>
			<NavBarBadge Color="Color.Warning" Icon="far fa-bell">15</NavBarBadge>
			<NavBarDropDownMenu>
				<DropdownHeader>15 Notifications</DropdownHeader>
				<DropdownDivider></DropdownDivider>
				<NotificationMessage DateTime="_dt.AddMinutes(-3)" Icon="fas fa-envelope mr-2">
					<Message>4 new messages</Message>
				</NotificationMessage>
				<DropdownDivider></DropdownDivider>
				<NotificationMessage DateTime="_dt.AddHours(-12)" Icon="fas fa-users mr-2">
					<Message>8 friend requests</Message>
				</NotificationMessage>
				<DropdownDivider></DropdownDivider>
				<NotificationMessage DateTime="_dt.AddDays(-2)" Icon="fas fa-file mr-2">
					<Message>3 new reports</Message>
				</NotificationMessage>
				<DropdownDivider></DropdownDivider>
				<DropdownFooter OnClick="SeeAllNotifications">See All Notifications</DropdownFooter>
			</NavBarDropDownMenu>
		</NavBarDropDown>
		<NavBarSideBarControl></NavBarSideBarControl>
	</NavBarRight>
</NavBar>
<SideBarContainer>
	<BrandLogo Link="" Logo="/_content/KSBlazor.Components/dist/img/BlazorDeskLogo.png">Admin Panel</BrandLogo>
	<SideBar>
		<!-- Sidebar user panel (optional) -->
		<SideBarUserPanel ImageEffect="ImageEffect.Circle" Elevation="Elevation.Three" UserImage="/_content/KSBlazor.Components/dist/img/user0-160x160.jpg">
			@_userName
		</SideBarUserPanel>
		@*<SideBarSearch></SideBarSearch>*@
		<SideBarMenu>
			<SideBarMenuItem Icon="fas fa-tachometer-alt" Link="/Dashboard/">
            	Dashboard
            </SideBarMenuItem>
			<SideBarTreeView MenuState="MenuState.Closed" Icon="fab fa-chrome">
				<Title>CMS</Title>
				<Items>
					<SideBarMenuItem Icon="fas fa-envelope" Link="/Dashboard/ManageContactMessages">
						Contact Messages
					</SideBarMenuItem>
				</Items>
			</SideBarTreeView>
			<SideBarMenuItem Link="simple-link" Icon="fas fa-th">
				Single Link
				<span class="right badge badge-danger">New</span>
			</SideBarMenuItem>
		</SideBarMenu>
	</SideBar>
</SideBarContainer>
<ContentWrapper>
	@Body
</ContentWrapper>
<ControlSideBar>Hello World!</ControlSideBar>
<MainFooter>
	<Default>
		<strong>Copyright &copy; 2022 KSAdmin.</strong> All rights reserved.
	</Default>
	<Right>
		Maintained by KS Group.
	</Right>
</MainFooter>
@code {
	protected override void OnParametersSet()
	{
		// content = null; for refreshing custom menu injectables per page.
		// no override; reset default to show parent menu content items.
		navBarLeftInjectableMenu.SetContent(null, false);
	}
}
@code {
	private readonly DateTime _dt = DateTime.Now;
	private string _userName = "";

	protected override async Task OnInitializedAsync()
	{
		var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authenticationState.User;
		_userName = user.Identity?.Name ?? "Unkown User";
	}

	private void SeeAllMessages(Tuple<IDropdownFooter, MouseEventArgs> args)
	{
		NavigationManager.NavigateTo("messages/see-all-messages");
	}

	private void SeeAllNotifications(Tuple<IDropdownFooter, MouseEventArgs> args)
	{
		NavigationManager.NavigateTo("messages/see-all-notifications");
	}

}